
<div class=" flex flex-col justify-center items-center">
    
    <h2 class=" pb-11 text-center text-2xl font-semibold">Pokemons</h2>

    <!-- Card Pokemons -->
    <div class=" w-fit grid place-items-center grid-cols-2 gap-4 ">
        <ng-container *ngIf="pokemonsList$ | async as pokemons" >
            <app-card class=" w-fit flex items-center justify-center " *ngFor="let pokemon of pokemons  " [pokemon]="pokemon"/>
        </ng-container>
        <div *ngIf="errorMsg" class="error">
            {{ errorMsg }}
          </div>
    </div>

    <!-- Paginacion -->
    <!-- boton de cargas mas -->
</div>
